Repository GodotECS/godex, pull requests merged in 2021-08, with the labels that each got.

#249 Add Systems cache and improve the changed mechanism
  SCsub
  ecs.cpp
  ecs.h
  ecs_types.h
  iterators/dynamic_query.cpp
  iterators/dynamic_query.h
  iterators/events_emitter_receiver.h
  iterators/query.h
  methods_ecs.py
  modules/godot/nodes/ecs_utilities.cpp
  modules/godot/nodes/ecs_utilities.h
  modules/godot/nodes/ecs_world.cpp
  modules/godot/nodes/script_ecs.cpp
  modules/godot/systems/physics_process_system.cpp
  pipeline/pipeline.cpp
  pipeline/pipeline.h
  pipeline/pipeline_builder.cpp
  register_types.cpp
  spawners/spawner.h
  storage/entity_list.cpp
  storage/entity_list.h
  storage/storage.h
  systems/dynamic_system.cpp
  systems/dynamic_system.h
  systems/system.h
  systems/system_builder.h
  tests/test_ecs_pipeline_builder.h
  tests/test_ecs_query.h
  tests/test_ecs_spawner.h
  tests/test_ecs_storage_hierarchical.h
  tests/test_ecs_system.h
  tests/test_ecs_temporary_system.h
  tests/test_utilities.h
  utils/fetchers.cpp
  utils/fetchers.h
  world/world.cpp
  world/world.h
Labels: topic:performances, topic:feature

#250 Updates to the latest Godot master.
  README.md
  modules/bullet_physics/components_gizmos.cpp
  modules/bullet_physics/components_gizmos.h
  modules/godot/editor_plugins/components_gizmo_3d.cpp
  modules/godot/editor_plugins/components_gizmo_3d.h
  modules/godot/editor_plugins/components_mesh_gizmo_3d.cpp
  modules/godot/editor_plugins/components_mesh_gizmo_3d.h
  modules/godot/editor_plugins/components_transform_gizmo_3d.cpp
  modules/godot/editor_plugins/components_transform_gizmo_3d.h
  modules/godot/nodes/entity.h
  modules/godot/register_types.cpp
Labels: topic:godot_integration

#258 Fix float=64 compilation
  modules/bullet_physics/SCsub
Labels: topic:build

#257 Introduce Body scaling and Body teleportation
  modules/bullet_physics/components_area.h
  modules/bullet_physics/components_rigid_body.cpp
  modules/bullet_physics/components_rigid_body.h
  modules/bullet_physics/components_rigid_shape.cpp
  modules/bullet_physics/components_rigid_shape.h
  modules/bullet_physics/register_types.cpp
  modules/bullet_physics/shape_base.cpp
  modules/bullet_physics/shape_base.h
  modules/bullet_physics/shape_box.cpp
  modules/bullet_physics/shape_box.h
  modules/bullet_physics/shape_capsule.cpp
  modules/bullet_physics/shape_capsule.h
  modules/bullet_physics/shape_cone.cpp
  modules/bullet_physics/shape_cone.h
  modules/bullet_physics/shape_convex.cpp
  modules/bullet_physics/shape_convex.h
  modules/bullet_physics/shape_cylinder.cpp
  modules/bullet_physics/shape_cylinder.h
  modules/bullet_physics/shape_sphere.cpp
  modules/bullet_physics/shape_sphere.h
  modules/bullet_physics/shape_trimesh.cpp
  modules/bullet_physics/shape_trimesh.h
  modules/bullet_physics/systems_base.cpp
  modules/bullet_physics/systems_base.h
  modules/bullet_physics/systems_walk.h
  pipeline/pipeline.cpp
  world/world.cpp
Labels: topic:feature

#261 Add dynamic set and get.
  components/component.h
  components/dynamic_component.cpp
  components/dynamic_component.h
  databags/databag.h
  ecs.cpp
  ecs.h
  ecs_types.h
  events/events.h
  modules/godot/editor_plugins/entity_editor_plugin.cpp
  modules/godot/editor_plugins/entity_editor_plugin.h
  modules/godot/nodes/ecs_utilities.cpp
  modules/godot/nodes/ecs_utilities.h
  modules/godot/nodes/entity.h
  modules/godot/nodes/script_ecs.cpp
  modules/godot/nodes/shared_component_resource.cpp
  storage/event_storage.h
  tests/test_ecs_component.h
Labels: topic:feature, topic:godot_integration

#262 Prevent to lose focus when the string is updated
  modules/godot/editor_plugins/entity_editor_plugin.cpp
Labels: bug, topic:editor
